body {
    font-family: 'Georgia', serif!important;
    background-color: #FFF7F2!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'Georgia', serif!important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif!important;
}
.navbar-main-article {
  float: left;
  margin-right: 2.5rem;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
  color: #FFA500;
  font-weight: bold;
}
a {
    text-decoration: none;
    color: #FFA500;
    padding: 2px;
   }
a:hover {
    text-decoration: none;
    color: #cc7a00;
   }
.navbar-item {
  color: #000000;
  margin-bottom: -1px;
  margin-right: 2.5rem;
  font-style: italic;
  font-size: 20px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.hero {
    height: 100vh!important;
    flex-direction: column;
    gap: 1.5rem;

    background-image: url("/static/images/BG Blob.svg");
    padding: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.heading-coffee {
    max-height: 100%;
    max-width: 30%;
    color: #663613!important;
    font-weight: bold;
    margin-top: 4rem;
    text-shadow: 1px 5px 5px rgba(0,0,0,.3);
}

.flex-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}

.card {
  flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bg-light {
    background: #fff !important;
}

.footer-main {
    margin-top: 2rem;
    background: #663613!important;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    color: #F5DEB3;
    box-shadow: 0 -5px 10px rgba(0,0,0,.2);
    border: solid 1px #8d4b1c;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 1pt #663613;
}
.cover-img{
    max-width: 100% !important;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 30vh!important;
    border-radius: 10px;
    padding: 10px;
    object-position:
}